<!-- Inheriting from parent -->
{% extends 'auth_layout.html' %} {% load static%} {%load bootstrap%} {% block title %}

<title>Enter Email| ResetPassword | Gharelu</title>

{% endblock title%}

<!-- Body content goes here -->
{% block content %}
<style>
  body {
    height: 100vh;
    background-image: linear-gradient(to right, #0093e9, #80d0c7) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Poppins, "serif";
  }

  .card {
    width: 500px;
    overflow: hidden;
    border: 0 !important;
    border-radius: 20px !important;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }

  .card-body {
    padding: 1.5rem;
  }

  .title {
    margin-bottom: 3.5rem;
    font-weight: 600;
    font-size: 2.5rem;
  }

  .form-input {
    position: relative;
    padding-left: 20px;
  }

  .form-input input {
    width: 100%;
    height: 45px;
    padding-left: 60px;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: none;
    border: 1px solid #00000020;
    border-radius: 3px;
    outline: none;
    background: transparent;
  }

  .form-input span {
    position: absolute;
    top: 10px;
    padding-left: 15px;
    color: #007bff;
  }

  .form-input input::placeholder {
    color: black;
    opacity: 0.5;
  }

  .form-input input:focus,
  .form-input input:valid {
    border: 2px solid #007bff;
  }

  .form-box button[type="submit"] {
    width: 100%;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    background: #007bff;
    color: #fff;
    font-size: 90%;
    font-weight: bold;
    letter-spacing: 0.1rem;
    transition: 0.5s;
    padding: 12px;
  }

  .form-box button[type="submit"]:hover {
    background: #0069d9;
  }

  .login-link {
    color: #007bff;
    font-weight: semibold;
    text-decoration: none;
  }

  .submit-button {
    display: flex;
    justify-content: center;
  }
</style>
{% include 'message.html' %}
<div class="container">
  <div class="row px-3">
    <div class="col-lg-10 col-xl-9 card flex-row mx-auto px-0">
      <div class="card-body">
        <h4 class="title text-center px-4">Reset Password</h4>

        <p class="text-center my-4">
          Enter an username<br />
          to get password changing link.
        </p>

        <form method="POST" action="" class="form-box px-3">
          {% csrf_token %}
          <div class="form-input">
            <span><i class="fa fa-user fa-sm" aria-hidden="true"></i></span>
            <input type="text" name="username" id="username" placeholder="Username" tabindex="10" required />
          </div>

          <div class="my-3 submit-button">
            <button type="submit" class="btn btn-block text-uppercase">Submit</button>
          </div>
        </form>

        <hr class="my-4" />

        <div class="text-center mb-2">
          Go back to
          <a href="{% url 'signin'%}" class="login-link">login</a>
        </div>
      </div>
    </div>
  </div>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"
  ></script>

  {% endblock content %}
</div>
