<!-- Inheriting from parent -->
{% extends 'auth_layout.html' %} {% load static%} {%load bootstrap%} {% block title %}

<title>Reset Password | Gharelu</title>

{% endblock title%}

<!-- Body content goes here -->
{% block content %}
<style>
  body {
    height: 100vh;
    background-image: linear-gradient(to right, #0093e9, #80d0c7) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Poppins, "serif";
  }

  .card {
    width: 500px;
    overflow: hidden;
    border: 0 !important;
    border-radius: 20px !important;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }

  .card-body {
    padding: 1.5rem;
  }

  .title {
    margin-bottom: 3.5rem;
    font-weight: 600;
    font-size: 1.5rem;
    color: #4bb543;
  }

  .login-link {
    color: #007bff;
    font-weight: semibold;
    text-decoration: none;
  }
</style>

{% include "message.html" %}
<div class="container">
  <div class="row px-3">
    <div class="col-lg-10 col-xl-9 card flex-row mx-auto px-0">
      <div class="card-body">
        <h6 class="title text-center">Your Password Reset Process Has Completed!</h6>

        <div class="text-center mb-2">
          Go back to
          <a href="{% url 'signin'%}" class="login-link">login</a>
        </div>
      </div>
    </div>
  </div>

  {% endblock content %}
</div>
