<!-- Inheriting from parent -->
{% extends 'layout.html' %}
{%load bootstrap%}
{% load static %}



{% block title %}
    <title> Signup | Gharelu</title>
{% endblock title%}


<!-- Body content goes here -->
{% block content %}

<style>


body {
        height: 95vh;
        background-image: linear-gradient(to right, #0093E9, #80D0C7) !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'Poppins', Times, serif;
    }

    .card {
        overflow: hidden;
        border: 0 !important;
        border-radius: 20px !important;
    }

    .img-left {
        width: 50%;
        /* background: url('{% static "images/signup.gif" %}')center no-repeat; */
        background: url("/static/images/signup.gif" )center no-repeat;

    }

    .card-body {
        padding: 1.5rem;
    }

    .title {
        margin-bottom: 3.5rem;
        font-weight: 600;
        font-size: 2.5rem;
    }

    .form-input {
        position: relative;
        padding-left: 20px;
    }

    .form-input input {
        width: 100%;
        height: 45px;
        padding-left: 40px;
        margin-bottom: 20px;
        box-sizing: border-box;
        box-shadow: none;
        border: 1px solid #00000020;
        border-radius: 3px;
        outline: none;
        background: transparent;
    }

    .pass-input input {
        height: 45px;
        border: 1px solid #00000020;
        box-sizing: border-box;
        box-shadow: none;
        border: 1px solid #00000020;
        border-radius: 3px;
        outline: none;
        background: transparent;

    }

    .form-input input:valid{
        border: 1px solid #00000020 !important;

    }


    .form-input span {
        position: absolute;
        top: 10px;
        padding-left: 15px;
        color: #007bff;
    }


    .form-input input::placeholder {
        color: rgb(19, 18, 18);
        padding-left: 10px;
        opacity: 0.5;
    }

    
    .form-input input:valid {
        border: 2px solid #067bf0; 
    }

    .form-input input:focus::placeholder {
        color: #454b69;
    } 

    .form-box button[type="submit"] {
        margin-top: 10px;
        border: none;
        cursor: pointer;
        border-radius: 3px;
        background: #007bff;
        color: #fff;
        font-size: 90%;
        font-weight: bold;
        letter-spacing: .1rem;
        transition: 0.5s;
        padding: 12px;
        margin-left: 18.5px;
        width: 97%;
    }

    .form-box button[type="submit"]:hover {
        background: #0069d9;
    }

    .forget-link,
    .register-link {
        color: #007bff;
        font-weight: semibold;
    }

    .forget-link:hover,
    .register-link:hover {
        color: #0069d9;
        text-decoration: none;
    }

    .form-box .btn-social {
        color: white !important;
        border: 0;
        font-weight: bold;
    }

    .form-box .btn-google {
        background: #a72c1f;
    }

    .form-box .btn-google:hover {
        background: #bf3b31;
    }

    .social-auth button{
        background-color: #fff;
        border: none;
    }

    .social-auth button a{
        color:#dd4b39; 
    }

    .social-auth button a i:hover{
        transition: all 0.5s ease-in-out;
        transform: scale(1.2);
        text-shadow: 1px 1px 5px #dd4b39;
    }



</style>

{% include 'message.html' %}

<div class="container">
    <div class="row px-3">
        <div class="col-lg-10 col-xl-9 card flex-row mx-auto px-0">

            {% if otp %}

            <div class="card-body">


                <h4 class="title text-left px-4 mt-4">
                    Verify Your Email
                </h4>

                <form action="" method="POST" class="form form-box px-3">
                    {% csrf_token %}

                    <div class="input-group mb-3">
                    <input type="hidden" name="usr" value="{{usr.username}}" />
                    <span class="input-group-text" id="basic-addon1">OTP</span>
                    <input
                        type="text"
                        class="form-control"
                        placeholder="Enter your OTP"
                        aria-label="OTP"
                        aria-describedby="basic-addon1"
                        name="otp"
                    />
                    </div>

                    <div class="mb-sm-3">
                        <button type="submit" value="" class="btn btn-block text-uppercase">
                            verify
                        </button>
                    </div>
                    </form>
            </div>



            {% else %}
            <div class="img-left d-none d-md-flex"></div>

            <div class="card-body">

                <h4 class="title text-left px-4 mt-4">
                    SIGN UP
                </h4>

                <form action="" method="POST" class="form form-box px-3" id="signup-form">
                    {% csrf_token %}

                    
                    <div class="form-input">
                        <span><i class="fa fa-user"  aria-hidden="true"></i></span>
                        {{form.username}}
                    </div>

                    <div class="form-input">
                        <span><i class="fa fa-envelope fa-sm" aria-hidden="true"></i></span>
                {{form.email}}
                    </div>

                    <div class=" d-flex  justify-content-start ">
                        <div class=" pass-input mb-1  form-input px-3.5">
                            <span><i class="fa fa-lock" aria-hidden="true"></i></i></span>
                            {{form.password1}}
                        </div>
                        <div class=" pass-input mb-1 form-input">
                            <span><i class="fa fa-lock" aria-hidden="true"></i></i></span>
                            {{form.password2}}
                        </div>
                    </div>

                    <div class="mb-sm-3">
                        <button type="submit" value="" class="btn btn-block text-uppercase">
                            Sign up
                        </button>
                    </div>

                    <div class="text-center mb-3">
                        or continue with
                    </div>
                    </form>


                    <form method="post" action="/accounts/google/login/?process=login">
                        {% csrf_token %}
                        <div class="social-auth container d-flex justify-content-center">
                            <button type="submit">
                                <a href="">
                                    <i class="fab fa-google fa-2x"></i>
                                </a>
                            </button>
                    </div>
                    </form>

                    <hr class="my-4">
                    <div class="text-center mb-2">
                        Already have an account?
                        <a href="{% url 'signin'%}" class="register-link">
                            Login
                        </a>
                    </div>
            </div>
        
        
        {% endif %}
        </div>
</div>

<script>

    var form_fields = document.getElementsByTagName('input')

    form_fields[1].placeholder = 'johndoe';

    form_fields[2].placeholder = 'you@example.com';

    form_fields[3].placeholder = '********';

    form_fields[4].placeholder = '********';



    

</script>

{% endblock content %}

