<!-- Inheriting from parent -->
{% extends 'layout.html' %} {%load bootstrap%} {%load static%}

<!-- Site title goes here -->
{% block title %}

<title>Home | Gharelu</title>

{% endblock title%}

<!-- Body content goes here -->
{% block content %}

<style>
  html {
    overflow-x: hidden;
  }
  * {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  .home {
    background: url("/static/images/homePageSearch.png") center no-repeat;
    display: flex;
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
    /* background-attachment: fixed; */
    font-family: "Poppins", sans-serif;
    justify-content: center;
  }

  #cover-image {
    width: 100%;
  }

  .main-search .max-width .home-content {
    padding-bottom: 150px;
  }

  .main-search .max-width .home-content p {
    line-height: 8px;
    text-align: center;
    color: rgb(117, 117, 117);
  }

  .main-search .max-width .home-content p:first-child {
    font-weight: 1000;
    font-size: 20px;
  }

  .main-search .max-width .home-content p:nth-child(2) {
    font-weight: 1000;
    font-size: 20px;
  }

  .main-search .max-width .home-content p:nth-child(3) {
    font-weight: 20;
    font-size: 15px;
  }

  .home-content {
    padding-top: 150px;
  }

  .main-search .max-width .home-content .search {
    margin-top: 10px;
    text-align: center;
    align-items: center;
  }

  .main-search .max-width .home-content .search input {
    margin-right: 20px;
    text-align: center;
    height: 45px;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 368px;
  }

  .main-search .max-width .home-content .search p {
    text-align: right;
  }

  .main-search .max-width .home-content .search input:nth-child(2) {
    margin-left: 10px;
  }

  .main-search .max-width .home-content .search button {
    height: 45px;
    width: 80px;
    background-color: #2683da;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
  }

  .main-search .max-width .home-content .search button:hover {
    background-color: #34dc38;
  }

  .form {
    position: relative;
  }

  .form .text1 {
    position: absolute;
    top: 10px;
    left: 3px;
  }

  .form .text2 {
    position: absolute;
    top: 10px;
    left: 2px;
  }

  .form span {
    position: absolute;
    right: 17px;
    top: 8px;
    padding: 2px;
    border-left: 1px solid #d1d5db;
  }

  .left-pan {
    padding-left: 0px;
  }

  .left-pan i {
    padding-left: 5px;
  }

  .form-input {
    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
  }

  .form-input:focus {
    box-shadow: none;
    border: none;
  }

  .ratings i {
    width: 10px;
    height: 30px;
    color: blue;
  }

  .service-button {
    position: relative;
    display: flex;
    align-items: center;
    text-transform: uppercase;
  }

  .service-button a {
    position: relative;
    padding: 1rem 0px 1rem 0px;
    width: 100pc;
    text-decoration: none;
    color: blue;
    font-weight: regular;
    padding: 8px;
    border-radius: 3px;
    background: white;
    text-align: center;
  }
  .service-button a:hover {
    color: #fff;
    background: #97ffbf;
    transition: 0.1s;
  }

  .testimonial {
    position: relative;
    margin-top: 2%;
    padding: 1rem 6rem 1rem 5rem;
    width: 100%;
    min-height: 5vh;
    background: #dbfff9;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
  }

  .testimonial h2 {
    text-align: center;
    border-top: thick #fffafa;
  }
  .testimonial h4 {
    font-size: 26px;
    text-align: center;
  }

  .box {
    height: 100%;
    text-align: center;
    padding: 1rem 1rem;
    background: #ffe0e1;
    border-radius: 20px;
    display: block;
    flex-wrap: wrap;
  }
  .box p {
    flex: 1.5rem;
    font-family: Poppins;
    font-size: 16px;
    text-align: justify;
    margin: 8% 8% 0% 8%;
  }
  /* .single-box {
    width: 100%;
    height: 100%;
    margin-bottom: -11px;
    padding: 1rem 1rem 2rem 1rem;
  }

  .box .image {
    position: relative;
    width: 90px;
    height: 90px;
    left: 0%;
  }
  .box .image img {
    position: relative;
    width: 50%;
    border-radius: 100%;
    left: -5%;
    bottom: -30px;
  }
  .box .image span h6 {
    position: relative;
    bottom: 0%;
    left: 60%;
    font-family: Poppins;
    font-size: 12px;
  }

  .testimonial .carousel-indicators {
    left: 0;
    top: auto;
    bottom: -15px;
  }

  .testimonial .carousel-indicators li {
    background: #000000;
    border-radius: 50%;
    width: 15px;
    height: 15px;
  }

  .testimonial .carousel-indicators .active {
    background: #ffffff;
  }

  .testimonial .carousel-control-prev {
    left: -119px;
    bottom: -0px;
  }

  .testimonial .carousel-control-next {
    right: -119px;
    bottom: -0px;
  } */
</style>

{% include 'navbar/navbar-flash.html' %}

<div class="container-fluid" style="margin-top: 4.6rem">
  <!-- <section
    class="main-search"
    id=""
    style="background: url('/static/images/homePageSearch.png'); width: 100%; background-size: cover"
  >
    <div class="max-width">
      <div class="home-content">
        <p>Problems in your home? We know how to deal with it. Let our</p>
        <p>professionals solve your house-hold problems at your place.</p>
        <p>From cleaning service to Home Inspection services we do it all. Reach out to us!</p>

        <div class="search">
          <span><i class="fa fa-search fa-lg" aria-hidden="true"></i></span>

          <input type="text" placeholder="What.." name="what" />
          <input type="text" placeholder="where.." name="where" />
          <button type="submit">FIND</button>
        </div>
      </div>
    </div>
  </section> -->

  <section class="home" id="home">
    <div class="max-width">
      <div class="home-content">
        <div class="intro-text">
          <p>Problems in your home? We know how to deal with it. Let our</p>
          <p>professionals solve your house-hold problems at your place.</p>
          <p>From cleaning service to Home Inspection services we do it all. Reach out to us!</p>
        </div>

        <div class="container">
          <div class="row height d-flex justify-content-center align-items-center">
            <div class="col-md-6">
              <div class="form">
                <i class="text1"><b>What</b></i>
                <input type="text" class="form-control form-input" placeholder="Enter a profession..." />
                <span class="left-pan"><i class="fa fa-search"> </i> </span>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form">
                <i class="text2"><b>Where</b></i>
                <input type="text" class="form-control form-input" placeholder="Enter a location..." />
                <span class="left-pan"
                  ><i class="icon">
                    <!-- <img src="{% static 'images/loc.png'%}" style="width: 20px; height: 15px; top: 10px; right: -3px" /> -->
                  </i>
                </span>
              </div>
            </div>

            <button class="btn btn-primary" type="submit">FIND</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--	   Service Start-->

  <!-- <section class="pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h3 class="mb-3">Our Services</h3>
        </div>
        <div class="col-6 text-right">
          <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
            <i class="fa fa-arrow-left"></i>
          </a>
          <a class="btn btn-primary mb-3" href="#carouselExampleIndicators2" role="button" data-slide="next">
            <i class="fa fa-arrow-right"></i>
          </a>
        </div>

        <div class="col-12">
          <div id="carouselExampleIndicators2" class="carousel carousel-dark slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-md-4 mb-3">
                    <div class="card" style="border-radius: 12px">
                      <img
                        class="img-fluid"
                        alt="100%x280"
                        src="{% static '/images/carpenter.png'%}"
                        style="border-radius: 10px 10px 0px 0px"
                      />
                      <div class="card-body">
                        <h4 class="card-title">CARPENTER</h4>
                        <p class="card-text">Fix the furniture in your home.Book it now and know how we handle it.</p>
                        <div class="d-flex mr-2">
                          <i class="star fas fa-star fa-lg text-warning m-1"></i>
                          <i class="star fas fa-star fa-lg text-warning m-1"></i>
                          <i class="star fas fa-star fa-lg text-warning m-1"></i>
                          <i class="star fas fa-star fa-lg text-warning m-1"></i>
                          <i class="star fas fa-star fa-lg text-warning m-1"></i>
                          <span class="badge badge-pill badge-secondary mr-2">5.0</span>
                        </div>
                        <div class="service-button">
                          <a href="#">Book now</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <div class="card" style="border-radius: 10px">
                      <img
                        class="img-fluid"
                        alt="100%x280"
                        src="{% static '/images/plumber.png'%}"
                        style="border-radius: 10px 10px 0px 0px"
                      />
                      <div class="card-body">
                        <h4 class="card-title">PLUMBER</h4>
                        <p class="card-text">Are the water pipes leaking at your home? Let the professionals fix it.</p>
                        <div class="d-flex my-4">
                          <i class="star fas fa-star text-warning"></i>
                          <i class="star fas fa-star text-warning"></i>
                          <i class="star fas fa-star text-warning"></i>
                          <i class="star fas fa-star text-warning"></i>
                          <i class="star fas fa-star"></i>
                          <span class="badge badge-pill badge-secondary ml-2">4.0</span>
                        </div>
                        <div class="service-button">
                          <a href="#">Book now</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <div class="card" style="border-radius: 10px">
                      <img
                        class="img-fluid"
                        alt="100%x280"
                        src="{% static '/images/cleaner.png'%}"
                        style="border-radius: 10px 10px 0px 0px"
                      />
                      <div class="card-body">
                        <h4 class="card-title">CLEANER</h4>
                        <p class="card-text">
                          Call our cleaner and analyze what your relatives say when they visit your home.
                        </p>
                        <div class="d-flex my-4">
                          <i class="star fas fa-star text-warning"></i>
                          <i class="star fas fa-star text-warning"></i>
                          <i class="star fas fa-star text-warning"></i>
                          <i class="star fas fa-star text-warning"></i>
                          <i class="star fas fa-star text-warning"></i>
                          <span class="badge badge-pill badge-secondary ml-2">5.0</span>
                        </div>

                        <div class="service-button">
                          <a href="#">Book now</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-md-4 mb-3">
                    <div class="card" style="border-radius: 10px">
                      <img
                        class="img-fluid"
                        alt="100%x280"
                        src="{% static '/images/painter.png'%}"
                        style="border-radius: 10px 10px 0px 0px"
                      />
                      <div class="card-body">
                        <h4 class="card-title">PAINTER</h4>
                        <p class="card-text">
                          Let the painter paint and decorate your home like never before! Book the service now.
                        </p>
                        <div class="d-flex my-4">
                          <i class="star fas fa-star text-warning"></i>
                          <i class="star fas fa-star text-warning"></i>
                          <i class="star fas fa-star text-warning"></i>
                          <i class="star fas fa-star text-warning"></i>
                          <i class="star fas fa-star text-warning"></i>
                          <span class="badge badge-pill badge-secondary ml-2">5.0</span>
                        </div>
                        <div class="service-button">
                          <a href="#">Book now</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <div class="card" style="border-radius: 10px">
                      <img
                        class="img-fluid"
                        alt="100%x280"
                        src="{% static '/images/electrician.png'%}"
                        style="border-radius: 10px 10px 0px 0px"
                      />
                      <div class="card-body">
                        <h4 class="card-title">ELECTRICIAN</h4>
                        <p class="card-text">
                          Don't deal with electrical appliances on your own. Book our services now and fix it today.
                        </p>
                        <div class="d-flex my-4">
                          <i class="star fas fa-star text-warning"></i>
                          <i class="star fas fa-star text-warning"></i>
                          <i class="star fas fa-star text-warning"></i>
                          <i class="star fas fa-star text-warning"></i>
                          <i class="star fas fa-star text-warning"></i>
                          <span class="badge badge-pill badge-secondary ml-2">5.0</span>
                        </div>
                        <div class="service-button">
                          <a href="#">Book now</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <div class="card" style="border-radius: 10px">
                      <img
                        class="img-fluid"
                        alt="100%x280"
                        src="{% static '/images/mason.png'%}"
                        style="border-radius: 10px 10px 0px 0px"
                      />
                      <div class="card-body">
                        <h4 class="card-title">MASON</h4>
                        <p class="card-text">
                          Building your spaces were never so easy until you found a mason from Gharelu.
                        </p>
                        <div class="d-flex my-4">
                          <i class="star fas fa-star text-warning"></i>
                          <i class="star fas fa-star text-warning"></i>
                          <i class="star fas fa-star text-warning"></i>
                          <i class="star fas fa-star text-warning"></i>
                          <i class="star fas fa-star text-warning"></i>
                          <span class="badge badge-pill badge-secondary ml-2">5.0</span>
                        </div>
                        <div class="service-button">
                          <a href="#">Book now</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-md-4 mb-3">
                    <div class="card" style="border-radius: 10px">
                      <img
                        class="img-fluid"
                        alt="100%x280"
                        src="{% static '/images/home.png'%}"
                        style="border-radius: 10px 10px 0px 0px"
                      />
                      <div class="card-body">
                        <h4 class="card-title">HOME INSPECION</h4>
                        <p class="card-text">
                          Inspect the home to know If you need any home improvement servicess. Our professionals will
                          visit your home and let you know if you need one.
                        </p>
                        <div class="d-flex my-4">
                          <i class="star fas fa-star text-warning"></i>
                          <i class="star fas fa-star text-warning"></i>
                          <i class="star fas fa-star text-warning"></i>
                          <i class="star fas fa-star text-warning"></i>
                          <i class="star fas fa-star text-warning"></i>
                          <span class="badge badge-pill badge-secondary ml-2">5.0</span>
                        </div>
                        <div class="service-button">
                          <a href="#">Book now</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <div class="card" style="border-radius: 10px">
                      <img
                        class="img-fluid"
                        alt="100%x280"
                        src="{% static '/images/makeup.png'%}"
                        style="border-radius: 10px 10px 0px 0px"
                      />
                      <div class="card-body">
                        <h4 class="card-title">MAKEUP ARTIST</h4>
                        <p class="card-text">
                          Let our makeup artist make you beautiful on your auspicious day and various occasions.
                        </p>
                        <p style="font-size: 5px; color: white">y</p>

                        <div class="d-flex my-4">
                          <i class="star fas fa-star text-warning"></i>
                          <i class="star fas fa-star text-warning"></i>
                          <i class="star fas fa-star text-warning"></i>
                          <i class="star fas fa-star text-warning"></i>
                          <i class="star fas fa-star text-warning"></i>
                          <span class="badge badge-pill badge-secondary ml-2">5.0</span>
                        </div>

                        <div class="service-button">
                          <a href="#">Book now</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <div class="card" style="border-radius: 10px">
                      <img
                        class="img-fluid"
                        alt="100%x280"
                        src="{% static '/images/electrician.png'%}"
                        style="border-radius: 10px 10px 0px 0px"
                      />
                      <div class="card-body">
                        <h4 class="card-title">MOVE IN MOVE OUT</h4>
                        <p class="card-text">
                          Thinking of shifting to a new town or a city? Let our professionals help you move from a place
                          to another keeping all your belongings safe. Book the service now!
                        </p>
                        <div class="d-flex my-4">
                          <i class="star fas fa-star text-warning"></i>
                          <i class="star fas fa-star text-warning"></i>
                          <i class="star fas fa-star text-warning"></i>
                          <i class="star fas fa-star text-warning"></i>
                          <i class="star fas fa-star text-warning"></i>
                          <span class="badge badge-pill badge-secondary ml-2">5.0</span>
                        </div>
                        <div class="service-button">
                          <a href="#">Book now</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <!--          Service End-->

  <!--	  Testimonial Start-->

  <!-- <div class="testimonial">
    <h2><strong>-</strong></h2>
    <h4><strong>Know What Our Customer Say!</strong></h4>

    <div class="row">
      <div class="col-md-12">
        <div id="carouselExampleIndicators1" class="carousel carousel-dark slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators1" data-slide-to="0" class="active" aria-current="true"></li>
            <li data-target="#carouselExampleIndicators1" data-slide-to="1"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-4">
                  <div class="single-box">
                    <div class="box">
                      <p>
                        Ghareulu services can be hit and miss. Too many think they can noddle their way through any
                        project.The quintessential jack of all trades. Our service today was performed by Aakash.He was
                        very friendly.
                      </p>
                      <div class="content">
                        <div class="image">
                          <img src="{% static '/images/Artboard 1.png'%}" alt="" />
                          <span><h6>Tsering</h6> </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="single-box">
                    <div class="box">
                      <p>
                        Tashi tackled the tasks I requested to be done with lots of energy and elbow grease. My oven,
                        windows, and bathrooms are sparkling clean! I'm confident that preparedness will come with more
                        experience. Thanks Tashi!
                      </p>
                      <div class="content">
                        <div class="image">
                          <img src="{% static '/images/Artboard 2.png'%}" alt="" />
                          <span><h6>Mayesh</h6> </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="single-box">
                    <div class="box">
                      <p>
                        I have used Gharelu twice now. Once to install my air conditioner and the second to fully
                        assemble my new grill. Manish did the grill assembly quickly. He did an excellent job and the
                        grill works perfectly.
                      </p>
                      <div class="content">
                        <div class="image">
                          <img src="{% static '/images/Artboard 4.png'%}" alt="" />
                          <span><h6>Phurba</h6> </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="row">
                <div class="col-md-4">
                  <div class="single-box">
                    <div class="box">
                      <p>
                        Gharelu sent an experienced handyman named Sahil who built my dresser in the the time estimated
                        with ease. He was also friendly and helpful and also perfesional. I would recommend Gharelu to
                        anyone.
                      </p>
                      <div class="content">
                        <div class="image">
                          <img src="{% static '/images/Artboard 6.png'%}" alt="" />
                          <span><h6>Manisha</h6> </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="single-box">
                    <div class="box">
                      <p>
                        I've used Gharelu twice before with very good results and yesterday was no different. My pro was
                        on time, professional, skilled, & thorough. He finished the job quickly. I'd highly recommend
                        Gharulu.
                      </p>
                      <div class="content">
                        <div class="image">
                          <img src="{% static '/images/Artboard 3.png'%}" alt="" />
                          <span><h6>Krishmeen</h6> </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="single-box">
                    <div class="box">
                      <p>
                        I had a great Gharelu experience. My professional, Suraj, arrived promptly and assembled my
                        trundle bed in roughly half the estimated time of my appointment. I would definitely work with
                        him and Gharelu again.
                      </p>
                      <div class="content">
                        <div class="image">
                          <img src="{% static '/images/Artboard 7.png'%}" alt="" />
                          <span><h6>Sayush</h6> </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <button
            class="carousel-control-prev"
            type="button"
            data-target="#carouselExampleIndicators1"
            data-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden"></span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-target="#carouselExampleIndicators1"
            data-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden"></span>
          </button>
        </div>
      </div>
    </div>
  </div> -->
</div>

{%endblock content%}
