@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
  background: #f2f2f2;
}
nav{
  background: #ffffff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 100px;
}
nav .logo{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
}
nav .nav-items{
  display: flex;
  flex: 0.4;
  padding: 0 0 0 40px;
}
nav .nav-items li{
  list-style: none;
  padding: 0 20px;
}
nav .nav-items li a{
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
nav .nav-items li a:hover{
  color: #34dc38;
}
nav form{
  display: flex;
  height: 40px;
  padding: 2px;
  background: #1e232b;
  min-width: 18%!important;
  border-radius: 2px;
  border: 1px solid rgba(155,155,155,0.2);
}

nav form button{
  padding: 0 15px;
  color: #fff;
  font-size: 17px;
  background: #ff3d00;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
nav form button:hover{
  background: #e63600;
}
nav .menu-icon,
nav .cancel-icon,
nav .search-icon{
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  display: none;
}
nav .menu-icon span,
nav .cancel-icon,
nav .search-icon{
  display: none;
}
@media (max-width: 1245px) {
  nav{
    padding: 0 50px;
  }
}
@media (max-width: 1140px){
  nav{
    padding: 0px;
  }
  nav .logo{
    flex: 2;
    text-align: center;
  }
  nav .nav-items{
    position: fixed;
    z-index: 99;
    top: 70px;
    width: 100%;
    left: -100%;
    height: 100%;
    padding: 10px 50px 0 50px;
    text-align: right;
    background: #14181f;
    display: inline-block;
    transition: left 0.3s ease;
  }
  nav .nav-items.active{
    left: 0px;
  }
  nav .nav-items li{
    line-height: 40px;
    margin: 30px 0;
  }
  nav .nav-items li a{
    font-size: 20px;
  }
  nav form{
    position: absolute;
    top: 80px;
    right: 50px;
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
  }
  nav form.active{
    top: 95px;
    opacity: 1;
    pointer-events: auto;
  }
  nav form:before{
    position: absolute;
    content: "";
    top: -13px;
    right: 0px;
    width: 0;
    height: 0;
    z-index: -1;
    border: 10px solid transparent;
    border-bottom-color: #1e232b;
    margin: -20px 0 0;
  }
  nav form:after{
    position: absolute;
    content: '';
    height: 60px;
    padding: 2px;
    background: #1e232b;
    border-radius: 2px;
    min-width: calc(100% + 20px);
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  nav .menu-icon{
    display: block;
  }
  
  nav .menu-icon span{
    display: block;
  }
  nav .menu-icon span.hide,
  nav .search-icon.hide{
    display: none;
  }
  nav .cancel-icon.show{
    display: block;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.content header{
  font-size: 30px;
  font-weight: 700;
}
.content .text{
  font-size: 30px;
  font-weight: 700;
}
.space{
  margin: 10px 0;
}
nav .logo.space{
  color: rgb(255, 255, 255);
  padding: 0 5px 0 0;
}
@media (max-width: 980px){
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    margin: 0 20px;
  }
  nav form{
    right: 30px;
  }
}
@media (max-width: 350px){
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    margin: 0 10px;
    font-size: 16px;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content header{
  font-size: 30px;
  font-weight: 700;
}
.content .text{
  font-size: 30px;
  font-weight: 700;
}
.content .space{
  margin: 10px 0;
}

.button {
  background-color:white;
  border: none;
  color: black;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 100px;
  font-family: 'Montserrat', sans-serif;
}
.button:hover {
  background-color: #34dc38;
  color: white;
}

/* home section styling */
.home{
  display: flex;
  width: 1920px;
  height: 306px;
  background-size: contain;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
  justify-content: center;
}

#cover-image{
width: 100%;
}

.home .max-width .home-content p {
    text-align: center;
}

.home .max-width .home-content p:first-child{
  font-weight: 1000;
  font-size:20px;
}

.home .max-width .home-content p:nth-child(2){
  font-weight: 1000;
  font-size:20px;
}

.home .max-width .home-content p:nth-child(3){
  font-weight: 20;
  font-size:15px;
  /* padding-top: 20px; */
}

.home-content{
    padding-top: 150px;
}

.home .max-width .home-content .search {
  margin-top: 10px;
  text-align: center;
  align-items: center;
}

.home .max-width .home-content .search input{

  margin-right: 20px;
  text-align: center;
  height: 30px;
  border-radius: 5px;
  outline: none;
  border: none;
  width: 250px;
}

.home .max-width .home-content .search input:nth-child(2){
margin-left: 10px;
}

.home .max-width .home-content .search button{
  height: 30px;
  width: 80px;
  background-color: #2683DA;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}


section{
  width: 98%;
  height: 600px;
  /*background: red;*/
  margin: auto;
  display: flex;
  align-items: center;
  overflow-x: auto;
}
section::-webkit-scrollbar{
  display: none;
}
section .product{
  min-width: 24%;
  height: 70%;
  background: whitesmoke;
  margin:  0 20px  0 0;
  border-radius: 20px;
  position: relative;
  left: 0;
  transition: 0.5s;

}
picture{
  width: 100%;
  height: 60%;
  padding: 20px;
  display: flex;
  overflow: hidden;
  margin-bottom: 20px;
}
picture img{
  width: 100%;
}
.detail,
.button{
  width: 90%;
  margin: auto;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  font-size: 20px;
  color: #444;
}

@media (max-width: 768px) {
  .text h1{
    font-size: 35px;
  }
  .text p{
    width: 90%;
  }
  header h1{
    font-size: 25px;
  }
  header p span{
    font-size: 30px;
  }
  section .product {
    min-width: 49%;
    margin:  0 10px  0 0;
  }
  .detail, .button{
    font-size: 16px;
  }
  a{
    padding: 6px 10px;
  }
}










