<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
   <meta charset="utf-8" />
   <title> Home page | Gharelu</title>
   <link rel="stylesheet" href="homepage.css" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>

<body>
   <nav>
      <div class="menu-icon">
         <span class="fas fa-bars"></span>
      </div>
      <div class="logo">
         <a class="navbar-brand" href="#">
            <img src="images/site-icon.png" alt="Gharelu" width="68" height="68" />
         </a>
      </div>
      <div class="nav-items">
         <li><a href="#">Home</a></li>
         <li><a href="#">Services</a></li>
         <li><a href="#">About</a></li>
         <li><a href="#">Support</a></li>
         <button class="button">Sign IN</button>
      </div>
   </nav>

   <section class="home" id="" style="background: url(images/back.png); width: 100%; background-size: cover;">
      
         <div class="max-width">
            
             <div class="home-content">
               <p>Problems in your home? We know how to deal with it. Let our</p>
               <p>professionals solve your house-hold problems at your place.</p>
               <p>From cleaning service to Home Inspection services we do it all. Reach out to us!</p>
               <div class="search">
                  <input type="text" placeholder="What.." name="usrname">
                  <input type="text" placeholder="where.." name="usrname">
                  <button>FIND</button>
               </div>
            </div>
         </div>
      </section>  

      <header>
			<h1>Our Services</h1>
		</header>
   <section class="services">
      
      <div class="product">
         <picture>
            <img src="" alt="">
         </picture>
         <div class="detail">
            <p>
            </p>
         </div>
         <div class="button">
            <a href="#">Book now</a>
         </div>
      </div>


      <div class="product">
         <picture>
            <img src="" alt="">
         </picture>
         <div class="detail">
            <p>
            </p>
         </div>
         <div class="button">
            <a href="#">Book now</a>
         </div>
      </div>


      <div class="product">
         <picture>
            <img src="" alt="">
         </picture>
         <div class="detail">
            <p>
            </p>
         </div>
         <div class="button">
            <a href="#">Book now</a>
         </div>
      </div>


      <div class="product">
         <picture>
            <img src="" alt="">
         </picture>
         <div class="detail">
            <p>
            </p>
         </div>
         <div class="button">
            <a href="#">Book now</a>
         </div>
      </div>


      <div class="product">
         <picture>
            <img src="" alt="">
         </picture>
         <div class="detail">
            <p>
            </p>
         </div>
         <div class="button">
            <a href="#">Book now</a>
         </div>
      </div>


      <div class="product">
         <picture>
            <img src="" alt="">
         </picture>
         <div class="detail">
            <p>
            </p>
         </div>
         <div class="button">
            <a href="#">Book now</a>
         </div>
      </div>


      <div class="product">
         <picture>
            <img src="" alt="">
         </picture>
         <div class="detail">
            <p>
            </p>
         </div>
         <div class="button">
            <a href="#">Book now</a>
         </div>
      </div>


      <div class="product">
         <picture>
            <img src="" alt="">
         </picture>
         <div class="detail">
            <p>
            </p>
         </div>
         <div class="button">
            <a href="#">Book now</a>
         </div>
      </div>


      <div class="product">
         <picture>
            <img src="" alt="">
         </picture>
         <div class="detail">
            <p>
            </p>
         </div>
         <div class="button">
            <a href="#">Book now</a>
         </div>
      </div>
   </section> 
   
</body>

</html>

<script type="text/javascript" src="homepage.js"></script>