<!-- Inheriting from parent -->
{% extends 'layout.html' %}
{%load bootstrap%}
{%load static%}


<!-- Site title goes here -->
{% block title %}

    <title> Home | Gharelu</title>

{% endblock title%}



<!-- Body content goes here -->
{% block content %}





<style>
    body{
        background-image: linear-gradient(to right, #0093E9 , #80D0C7) !important;

    }
   
    .main_div{
        padding-top:10rem ;
        background-image: linear-gradient(to right, #0093E9 , #80D0C7) !important;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;

    }
    .main_div h1{
        display: flex;
        justify-content: center;
        justify-items: center;
        font-size: 3rem;
        font-family: 'Poppins';
    }
    .acc_div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

    }
    .acc_div .btn{
        background-color: white;
        height: 10vw;
        min-height: 8rem;
        max-height: 20rem;
        width: 10vw;
        min-width: 8rem;
        max-width: 20rem;
        border-radius: 3px;
        border: none;
        outline: none;
        margin-top: 3rem;
        margin-right: 2.5rem;
        position: relative;
        cursor: pointer;
        background-repeat: no-repeat;
        background-size: cover;


    }
    .acc_div .btn:nth-child(1){
        background-image: url('{% static 'images/admins.png' %}');

    }
    .acc_div .btn:nth-child(2){
        background-image: url('{% static 'images/customers.png' %}');

    }
    .acc_div .btn:nth-child(3){
        background-image: url('{% static 'images/professionals.png' %}');

    }

    .acc_div .btn span{
        width: inherit;
        position: absolute;
        bottom: -2rem;
        left: 0;
        text-transform: capitalize;
        letter-spacing: .1rem;
        color: wheat;

    }


</style>
        <div class = "main_div">
            <h1>Who are you?</h1>

            <div class = "acc_div">
                <button class = "btn" type="submit"> 
                    <a href="{% url 'signin' %}">
                         <span>ADMIN</span>
                    </a>
                </button>
                <button class = "btn" type="submit"> 
                    <a href="{% url 'signin' %}">
                        <span>CUSTOMER</span>
                    </a>
                </button>
                <button class = "btn" type="submit"> 
                    <a href="{% url 'signin' %}">
                        <span>PROFESSIONAL</span>
                    </a>
                </button>
            </div>

        </div>
{% endblock content %}
