<!-- Inheriting from parent -->
{% extends 'layout.html' %}
{%load bootstrap%}
{%load static%}


<!-- Site title goes here -->
{% block title %}

    <title> Home | Gharelu</title>

{% endblock title%}



<!-- Body content goes here -->
{% block content %}
<style>
 body{
        font-family: Poppins;
    }
    .image{
    display: flex;
    width: 100%;
    height: 700px;
    background:url("/static/images/servicepage.png") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    }

    .row{
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
    }

.image-content{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

    .image .image-content .words {
        background-color: rgba(255, 255, 255, 0.60);
        background-size: 300px 100px;
        font-size: 30px;
        font-weight: 700;
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 50px 0;
        margin-top: 18rem;
}


.image .image-content .sub-info{
         background-color: rgba(255, 255, 255, 0.60);
        color: rgb(0, 0, 0);
        font-weight: 450;
        font-size: 25px;
        text-align: center;
        padding-top: 1rem;
        padding-left: 3rem;
    }

.content .container{
    color: #f3c500;
    font-size: 40px;
    margin-bottom: 0px;
    text-align: center;
}

.categories{
    padding: 30px 0px;
}

.shell{
  padding:2rem  0;
}

.product{
  background:#fff;
  padding:15px;
  border-radius:6px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  position:relative;
  margin:20px auto;
  height :600px
}

.img{
  position:absolute;
  top:5px;
  left:50%;
  transform:translate(-50%);
  -webkit-transform:translate(-50%);
  -ms-transform:translate(-50%);
  -moz-transform:translate(-50%);
  -o-transform:translate(-50%);
  -khtml-transform:translate(-50%);
  width: 100%;
  padding: 15px;
  transition: all 0.2s ease-in-out;
}

.img img{
  width:100%;
  transition: all 0.2s ease-in-out;
  border-radius:6px;
}

.product:hover .img{
  top:-40px;
}

.product:hover .img img{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.text{
  padding-top:100%;
  font-size: 22px;
}

.text .category{
  text-align:center;
  font-size:12px;
  font-weight:bold;
  padding:5px;
  margin-bottom:45px;
  position:relative;
  transition: all 0.2s ease-in-out;
}

.text .category > *{
  position:absolute;
  top:200%;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  -khtml-transform: translate(-50%,-50%);
}

.text .category > button{
  padding: 12px 30px;
  border: 1px solid #313131;
  background:#212121;
  color:#fff;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  border-radius:5rem;
  transition: all 0.05s ease-in-out;
}

.product:hover .text .category > button{
  border-color:#ddd;
  box-shadow: none;
  padding: 11px 28px;
}

.product:hover .text .category{
  margin-top: 0px;
}

</style>

{% include 'navbar/customer-navbar.html' %}
<section class="" id="">
  <div class="image"></div>
    <div class="container"><div class="row">
        <div class="image-content">
            <div class="words">Gharelu is Your Home Repair & Service Expert.
              </div>
             <p class="sub-info">For all kinds of Renovation, Installation, Repair & Maintenance services for Offices, Homes, Hospitals, Schools, etc.</p>
             </div></div>
</section>

<div class="content" id="services">
    <div class="categories">
        <div class="container">
            <h2 style="color: rgb(0, 253, 21);    font-size: 40px;    text-align: center;">Select Your Service</h2>
            
            
<div class="shell">
    <div class="container">
      <div class="row">

        <div class="col-md-3">
          <div class="product">
            <div class="img">
              <img src="/static/images/carpenter.png" alt="Product" class="img-responsive" />
            </div>
            <div class="text">
              <p class="service_name">carpenter
              </p>
              <p class="discription">
          FGGFDSFXGCHGGDSESDXCF
              </p>
              <p class="cg">
                category
              </p>
              <p class="location">
                location
              </p>
              <p class="price">
                price
              </p>
              <div class="category">
                <button>Book now</button> 
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="product">
            <div class="img">
              <img src="/static/images/cleaner.png" alt="Product" class="img-responsive" />
            </div>
            <div class="text">
              <div class="category">
                <button>Cleaner</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="product">
            <div class="img">
              <img src="/static/images/electrician.png" alt="Product" class="img-responsive" />
            </div>
            <div class="text">
              <div class="category">
                <button>Electrician</button>               </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="product">
            <div class="img">
              <img src="/static/images/makeup.png" alt="Product" class="img-responsive" />
            </div>
            <div class="text">
              <div class="category">
                <button>Makeup</button>               </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="product">
            <div class="img">
              <img src="/static/images/mason.png" alt="Product" class="img-responsive" />
            </div>
            <div class="text">
              <div class="category">
                <button>Mason</button>               </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="product">
            <div class="img">
              <img src="/static/images/movein.png" alt="Product" class="img-responsive" />
            </div>
            <div class="text">
              <div class="category">
                <button>Movein</button>               </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="product">
            <div class="img">
              <img src="/static/images/painter.png" alt="Product" class="img-responsive" />
            </div>
            <div class="text">
              <div class="category">
                <button>Painter</button>               </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="product">
            <div class="img">
              <img src="/static/images/plumber.png" alt="Product" class="img-responsive" />
            </div>
            <div class="text">
              <div class="category">
                <button>Plumber</button>               </div>
            </div>
          </div>
        </div>

      </div>
      
        </div>
    </div>
    </div>
  </div>
</div>


{%endblock content%}

