body {
  font-family: Poppins;
}
#sidebar.active {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
}

#sidebar.active .CTAs,
#sidebar.active .sidebar-header h3 {
  display: none;
}

#sidebar.active .sidebar-header strong {
  display: block;
}

#sidebar.active ul li a {
  padding: 20px 10px;
  text-align: center;
  font-size: 0.85em;
}

#sidebar.active ul li a i {
  margin-right: 0;
  display: block;
  font-size: 1.8em;
  margin-bottom: 5px;
}

#sidebar.active ul ul a {
  padding: 10px !important;
}

#card-ico {
  color: black;
}

.welcome {
  color: #00eeb6;
}
.welcome:hover {
  color: #00eeb6;
  transform: scale(1.1);
}

a {
  color: #fff !important;
}

a,
a:focus,
a:hover {
  color: inherit;
  text-decoration: none;
  transition: 0.3s;
  width: 100%;
}

.wrapper {
  display: flex;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  position: fixed;
  background-color: #383841;
  color: #fff;
  transition: 0.3s;
  position: sticky;
}

#sidebar ul li a {
  text-align: left;
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #00eeb6;
}

#sidebar .sidebar-header strong {
  display: none;
  font-size: 1.8em;
}

#sidebar ul li a:hover {
  color: #111 !important;
  background: #f7f7f7;
}

#sidebar ul li a i {
  margin-right: 10px;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}

a[data-toggle="collapse"] {
  position: relative;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

#content {
  padding: 20px;
  min-height: 100vh;
  transition: 0.3s;
}
#sidebarCollapse {
  color: #fff;
}

#logout {
  color: #dd4e67;
}

#logout:hover {
  color: #fff !important;
  background: #dd4e67 !important;
}


@media (max-width: 768px) {
  a[aria-expanded="false"]::before,
  a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }
  #sidebar.active {
    margin-left: 0 !important;
  }
  #sidebar ul li a span {
    font-size: 0.85em;
  }
  #sidebar {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    margin-left: -80px !important;
  }
  #sidebar .CTAs,
  #sidebar .sidebar-header h3,
  #sidebarCollapse span {
    display: none;
  }
  #sidebar .sidebar-header strong {
    display: block;
  }
  #sidebar ul li a {
    padding: 20px 10px;
  }
  #sidebar ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.3em;
  }
  #sidebar ul ul a {
    padding: 10px !important;
  }
}
/*----------------*/

#messages {
  margin: 0px;
}

.my-form {
  width: 100%;
}


.title {
  color: #00eeb6;
}
