html {
  overflow-x: hidden;
}


.home {
  display: flex;
  width: 100%;
  height: 450px;
  background-size: contain;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}

  /* service css */

.Head h3{
	position:relative;
	display:flex;
	top:15%;
	text-align:left;
	left: 5%;
    overflow: hidden;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
}
.card img {
  max-width: 100%;
  max-height:100%;
}
.card {
  margin: 0 0.5em;
  width:400px;
  /* height: fit-content; */
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
  transition: border-color 1s, box-shadow 0.5s;
}

.card:hover {
  border-color: rgba(13, 110, 253, 0.7);
  box-shadow: 0px 0px 10px 2px rgba(13, 110, 253, 0.6);
}

.ratings i {
  width: 10px;
  height: 30px;
  color: blue;
}
.carousel-inner {
  padding: 1em;
}

.service .carousel-control-prev, .service .carousel-control-next{
  background-color: #e1e1e1;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 768px) {
  .card img {
    height: 17em;
  }
}

 /* service css end */


    /* testimonial css */

.testimonial{
	position: relative;
	margin-top: 2%;
  padding: 1rem 6rem 1rem 5rem;
  width: 100%;
  min-height: 5vh;
	background: #DBFFF9;
	border-radius: 10px;
	align-items: center;
	justify-content: center;
	/* left: 40px; */
}

.testimonial h2 {
  text-align: center;
  border-top: thick #fffafa;
}
.testimonial h4 {
  font-size: 26px;
  text-align: center;
}

.box {
  /* width: 85%; */
  height: 100%;
  text-align: center;
  padding: 1rem 1rem;
  background: #ffe0e1;
  border-radius: 20px;
  display: block;
  flex-wrap: wrap;
}
.box p {
  flex: 1.5rem;
  font-family: Poppins;
  font-size: 16px;
  text-align: justify;
  margin: 8% 8% 0% 8%;
  /*	margin-right: 10%;*/
}
.single-box {
  width: 100%;
  height: 100%;
  margin-bottom: -11px;
  padding: 1rem 1rem 2rem 1rem;
}

.box .image {
  position: relative;
  width: 90px;
  height: 90px;
  left: 0%;
}
.box .image img {
  position: relative;
  width: 50%;
  border-radius: 100%;
  left: -5%;
  bottom: -30px;
}
.box .image span h6 {
    position:relative;
	bottom: 0%;
	left: 60%;
	font-family: Poppins, serif;
	font-size: 12px;
}

.testimonial .carousel-indicators {
  left: 0;
  top: auto;
  bottom: -15px;
}

.testimonial .carousel-indicators li {
  background: #000000;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.testimonial .carousel-indicators .active {
  background: #ffffff;
}

.testimonial .carousel-control-prev {
  left: -119px;
  bottom: -0px;
}

.testimonial .carousel-control-next {
  right: -119px;
  bottom: -0px;
}

/* testimonial css end */

