@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
  background: #ffffff;
}

/* home section styling */
.home{
  display: flex;
  width: 100%;
  height: 450px;
  background-size: contain;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
  justify-content: center;
}

#cover-image{
width: 100%;
}

.home .max-width .home-content{
  padding-bottom: 150px;
}

.home .max-width .home-content p {
    line-height: 8px;
    text-align: center;
    color: rgb(117, 117, 117);
}

.home .max-width .home-content p:first-child{
  font-weight: 1000;
  font-size:20px;
}

.home .max-width .home-content p:nth-child(2){
  font-weight: 1000;
  font-size:20px;
}

.home .max-width .home-content p:nth-child(3){
  font-weight: 20;
  font-size:15px;
  /* padding-top: 20px; */
}

.home-content{
    padding-top: 150px;
}

.home .max-width .home-content .search {
  margin-top: 10px;
  text-align: center;
  align-items: center;
}


.home .max-width .home-content .search input{
  
  margin-right: 20px;
  text-align: center;
  height: 45px;
  border-radius: 5px;
  outline: none;
  border: none;
  width: 368px;
}

.home .max-width .home-content .search p{
  text-align: right;
}

.home .max-width .home-content .search input:nth-child(2){
margin-left: 10px;
}

.home .max-width .home-content .search button{
  height: 45px;
  width: 80px;
  background-color: #2683DA;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}

.home .max-width .home-content .search button:hover{
  background-color: #34dc38;
}


  html {
    overflow-x: hidden;
  }

  * {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .conatiner {
    margin: 0 auto;
    background-color: black;
    max-width: 1140px;
    margin: 30px 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .products-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .col {
    border-radius: 20px;
    margin: 80px;
    cursor: all-scroll;
    width: 320px;
    height: 480px;
    width: 100%;
    max-width: 100%;
    background: linear-gradient(80deg, #1278b9, #fc6658, #a92b7c);
    box-shadow: -30px 40px 31px rgb(63 63 63);
  }

  .product-img {
    width: 100%;
  }

  .product-img img {
    max-width: 100%;
    transform: rotateZ(-8deg);
  }

  .product-bg {
    width: 100%;
    height: auto;
    z-index: 1;
  }

  .bg-circle {
    width: 200px;
    height: 200px;
    position: absolute;
    transform: translateZ(-30deg) !important;
    transform: translateX(176px) translateY(-80px);
    border-radius: 50%;
    background-color: #fff;
  }

  .product-title {
    padding: 8px;
  }

  .product-title h3 {
    font-size: 28px;
  }

  .product-title p {
    font-size: 22px;
    line-height: 30px;
  }

  .product-model {
    padding: 28px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .product-model .m-1 {
    padding-left: 8px;
  }

  .product-model .m-1 h3 {
    font-size: 22px;
  }

  .product-model .m-1 span {
    margin: 1px;
    cursor: pointer;
  }

  .product-model .m-1 span {
    width: 20px;
    height: 20px;
    background-color: honeydew;
    border-radius: 10px;
    padding: 6px;
    font-weight: bold;
  }

  .product-model .m-1 .active {
    background-color: grey;
    box-shadow: 1px 1px 1px black;
    color: honeydew;
  }

  .product-color {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .col-color {
    padding: 0 8px;
    cursor: pointer;
  }

  .col-color .silver {
    width: 28px;
    height: 28px;
    background-color: silver;
    box-shadow: inset 1px 1px 4px black;
    border-radius: 50%;
  }

  .col-color.active {
    border: 2px solid rgb(0, 110, 212);
    width: 30px;
    height: 30px;
    padding: 2px;
    border-radius: 50%;
  }

  .col-color .space-grey {
    width: 28px;
    height: 28px;
    background-color: grey;
    border-radius: 50%;
  }

  .btn-section {
    padding-top: 50px;
  }

  .btn-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .col-btn {
    padding: 0 8px;
  }

  .col-btn a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 14px;
    box-shadow: 1px 1px 28px black;
    border-radius: 10px;
    background: linear-gradient(80deg, #1278b9, #fc6658, #a92b7c);
  }

  .col-btn a:hover {
    color: #fff;
    background: #000;
    box-shadow: inset -30px 40px 31px rgb(63 63 63);
    transition: 0.5s;
  }

  @media (min-width: 770px) and (max-width: 1024px) {
    .col {
      width: 50%;
    }
  }

  @media (max-width: 460px) {
    .col {
      width: 100%;
      max-width: 100%;
    }
  }
