<!-- Inheriting from parent -->
{% extends 'professional_layout.html' %} {%load bootstrap%} {%load static%} {% load crispy_forms_tags %}
<!-- Site title goes here -->
{% block title %} Professional Change Password | Gharelu {% endblock title%} {% block main %}
<!-- Body content goes here -->
<style>
  body {
    font-family: Poppins;
  }
  .card {
    position: unset !important;
  }
  .card-body {
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  .title {
    font-weight: 600;
  }

  .alert-danger {
    left: 25%;
    width: 50%;
  }

  small {
    display: none;
  }

  #error_1_id_old_password,
  #error_1_id_new_password2 {
    display: none;
  }

  .col-lg-2 {
    width: auto !important;
  }
  .form-group,
  .custom-checkbox {
    margin-top: 1rem;
  }

  .form-group span {
    color: #dd4b39;
  }
</style>

<div class="container-fluid" style="margin-top: 2rem">
  <div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6 col-md-10 col-xl-10 mb-4">
              <div class="container">
                {% include 'message.html'%}
                <h3 class="text-center">Change Password</h3>
                <div class="card col-lg-10 col-xl-9 card flex-row mx-auto px-0">
                  <div class="card-body">
                    <form method="POST" action="" class="form-box px-3">
                      {% csrf_token %} {{user_password_change_form | crispy}}

                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" onclick="passwordToggle()" />
                        <label class="custom-control-label" for="cb1">Show Password</label>
                      </div>

                      <button type="submit" class="btn btn-primary mt-3">Save Changes</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function passwordToggle() {
    var x = document.getElementById("id_new_password1");
    var y = document.getElementById("id_new_password2");

    if (x.type === "password" && y.type == "password") {
      x.type = "text";
      y.type = "text";
    } else {
      x.type = "password";
      y.type = "password";
    }
  }

  // To put astreak as placeholder

  var form_fields = document.getElementsByTagName("input");
  form_fields[1].placeholder = "******** ";
  form_fields[2].placeholder = "******** ";
  form_fields[3].placeholder = "******** ";

  for (var field in form_fields) {
    field.className += " form-control my-2";
  }
</script>

{% endblock %}
