{% extends 'layout.html' %} {% load static%} {%load bootstrap%} {% block title %}
<title>Professional Profile | Gharelu</title>
{% endblock title%} {% block content %}
<style>
  /* .container .card{
    box-sizing: inherit;
    box-shadow:  0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.3);
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px;

} */

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    position: unset !important;
    box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.3);
    margin: 10px auto;
    position: relative;
  }
  .card .card-header {
    display: flex;
    justify-content: center;
    height: 12em;
    background-image: linear-gradient(to right, #0093e9, #80d0c7) !important;
  }
  .profile-image {
    height: 10em;
    width: 10em;
    border-radius: 50%;
    box-shadow: 0 0.2em 0.5em;
    object-fit: cover;
  }
</style>

{% include 'navbar/professional-navbar.html' %}
<div style="margin-top: 6rem">
  <h4 class="text-center">Your Profile</h4>

  <div class="container">
    {% include 'message.html'%}

    <div class="card" style="width: 40rem">
      <div class="card-header">
        <img src="/{{request.user.profile.profile_pic}}" width="60%" class="card-img-top profile-image" />
      </div>
      <div class="card-footer">
        <div class="py-3"><b> First Name :</b> {{request.user.profile.firstname}}</div>
        <div class="py-3"><b>Last Name :</b> {{request.user.profile.lastname}}</div>
        <div class="py-3"><b>Email :</b> {{request.user.profile.email}}</div>
        <div class="py-3"><b>Phone :</b> +977 {{request.user.profile.phone}}</div>
        <div class="py-3"><b>Address :</b> {{request.user.profile.address}}</div>
        <div class="py-3"><b>City :</b> {{request.user.profile.city}}</div>
        <p class="card-text">
          <small class="text-muted" style="color: #bf3b31 !important">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
  </div>
</div>

<script>
  var form_fields = document.getElementsByTagName("input");
  form_fields[1].placeholder = "First Name";
  form_fields[2].placeholder = "Last Name";
  form_fields[3].placeholder = "+977 9816034112";
  form_fields[4].placeholder = "Buddanilakantha, Kapan";
  form_fields[5].placeholder = "Kathmandu";

  for (var field in form_fields) {
    field.className += " form-control my-2";
  }
</script>

{% endblock content %}
