<!-- Inheriting from parent -->
{% extends 'layout.html' %}
{%load bootstrap%}
{%load static%}

<!-- Site title goes here -->
{% block title %}
    <title> Professional Dashboard | Gharelu</title>
{% endblock title%}


<!-- Body content goes here -->
{% block content %}

{% include 'navbar/dashboard-navbar.html' %}

<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, modi! Earum ducimus quod doloribus possimus, ut suscipit harum dicta deleniti doloremque, veniam ullam. Dolorem quaerat deserunt veniam, delectus commodi ab.</h1>




{%endblock content%}