{% extends 'layout.html' %} {% load static%} {%load bootstrap%} {% load crispy_forms_tags %} {% block title %}

<title>Update Profile Professional | Gharelu</title>
{% endblock title%} {% block content %}
<style>
  body {
    font-family: Poppins;
  }
  .container {
    outline: none;
  }
  .card {
    position: unset !important;
    box-shadow: 0 2px 10px rgb(0 22 84 / 10%);
  }

  .card-body {
    padding: 1.5rem;
    flex: 1 1 auto;
  }

  .requiredField {
    font-weight: 600;
    font-family: Poppins;
    font-size: 16px;
    color: #242f65;
  }
  #id_firstname,
  #id_lastname,
  #id_phone,
  #id_address,
  #id_city,
  #id_profile_pic {
    color: #70798b;
    font-weight: 400;
    /* font-family: Poppins; */
    font-size: 16px;
  }

  #div_id_firstname,
  #div_id_lastname,
  #div_id_phone,
  #div_id_address,
  #div_id_city,
  #div_id_profile_pic {
    margin: 1em;
  }
</style>

{% include 'navbar/professional-navbar.html' %}
<div style="margin-top: 8rem">
  {% include 'message.html'%}

  <div class="container">
    <div class="row px-3">
      <h4 class="text-center">Update Profile</h4>
      <div class="card col-lg-10 col-xl-9 card flex-row mx-auto px-0">
        <div class="card-body">
          <form class="form-box px-3 uniForm" method="POST" enctype="multipart/form-data">
            {% csrf_token %} {{ profileUpdateForm|crispy }}
            <button type="submit" class="btn btn-primary text-uppercase my-2">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
