{% load static%}

 <style>

 
  </style> 


<header>
  <nav class="navbar  navbar-expand-lg navbar-dark bg-dark nav-bar justify-content-between" >
    <div class="container-fluid">
  
      <a class="navbar-brand" href="#">
        <img src="{% static 'images/site-iconG.png' %}" alt="Gharelu" width="50" height="50" >
      </a>

      <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <img src="{% static 'images/user.png' %}" width="35" alt="...">

      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>

      

    </div>
</nav>
</header>