<!--========================== Inheriting from parent===================== -->
{% extends 'layout.html' %}
{%load bootstrap%}
{%load static%}

{% block content %}

    <button type="button" onclick="topFunction()" id="btn-back-to-top">
            <i class="fas fa-arrow-up"></i>
        <center></center>
    </button>

    <!-- Footer section Begin -->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row col-md-10 col-lg-10 col-xl-9 content">

                <div class="col">
                    <div class="footer-widget">
                        <h6>Stay in touch</h6>
                        <ul>
                            <li><i class="fa fa-facebook"></i><span>Facebook</span></li>
                            <li><a href="#" class="fa fa-instagram"></a><span>Instagram</span></li>
                            <li><a href="#" class="fa fa-linkedin"></a><span>Linkedin</span></li>
                            <li><a href="#" class="fa fa-youtube"></a><span>Youtube</span</li>

                        </ul>
                    </div> 
                </div>               

                <div class="col">
                    <div class="footer-widget">
                        <h6> Quick Links</h6>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Service</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="/homepage/support">Support </a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="col">
                    <div class="footer-widget">
                        <h6>Suscribe to our newsletter</h6>
                        <div class="footer-newsletter">
                            <p>Be the first to know about Service and Various updates.</p>
                                <input type="email" placeholder="you@example.com">
                                <button class="btn-secondary submit-btn" type="submit"> <span><i class="fa fa-check"  aria-hidden="true"></i></span> &nbsp;SUBSCRIBE </button>                                        
                            </form>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row" id="dev-info">
                <div class="col-lg-12 text-center" >
                    <div class="footer-copyright-text">
                        <span> <img src="../static/images/site-iconG.png" alt="Site Icon" id="img" width="38" height=38"> </span>     
                        <p> 
                            &copy; 2021 : All Right Reserved.<br> Designed and Developed With <span class="text-danger"><i class="fa fa-heart" aria-hidden="true"></i></span> By: Coder-Squad
                        </p> 
                    </div>                        
                </div>    
            </div>
        </div>
       
    </footer>


<script>
var mybutton = document.getElementById("btn-back-to-top");

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>


{%endblock content%}


