<style>
  .alert a {
    text-decoration: none;
    align-items: center;
  }
  .alert-dismissible .close {
    float: right;
  }
</style>

{% for message in messages %} {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %} {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR%}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %} {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING%}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %} {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO%}
<div class="alert alert-info alert-dismissible fade show" role="alert">
  {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %} {% endfor %}
