<!-- Inheriting from parent -->
{% extends 'layout.html' %}
{%load bootstrap%}
{%load static%}


<!-- Site title goes here -->
{% block title %}

    <title> Admin Dashboard | Gharelu</title>

{% endblock title%}



<!-- Body content goes here -->
{% block content %}

{% include 'navbar/admin-navbar.html' %}
<div class="container-fluid" style="margin-top: 1rem;">


<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, modi! Earum ducimus quod doloribus possimus, ut suscipit harum dicta deleniti doloremque, veniam ullam. Dolorem quaerat deserunt veniam, delectus commodi ab.</p>

<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione nemo neque dolor corrupti eveniet impedit ipsum molestias architecto aspernatur quia quam provident, doloribus cumque deserunt praesentium magni eaque? Reprehenderit quasi molestias molestiae sunt eos eius cupiditate magni quas nostrum, tempora tempore saepe amet laboriosam aperiam?</h1>


<br>

<h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae tempora odio consequatur iusto beatae molestiae provident eaque vel tempore? Corporis, facere. Culpa rerum explicabo excepturi distinctio cum quas deleniti quis non maxime incidunt, molestias, placeat iste omnis repudiandae reprehenderit provident. Dolorum aperiam ad amet repudiandae.</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, modi! Earum ducimus quod doloribus possimus, ut suscipit harum dicta deleniti doloremque, veniam ullam. Dolorem quaerat deserunt veniam, delectus commodi ab.</p>

<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione nemo neque dolor corrupti eveniet impedit ipsum molestias architecto aspernatur quia quam provident, doloribus cumque deserunt praesentium magni eaque? Reprehenderit quasi molestias molestiae sunt eos eius cupiditate magni quas nostrum, tempora tempore saepe amet laboriosam aperiam?</h1>


<br>

<h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae tempora odio consequatur iusto beatae molestiae provident eaque vel tempore? Corporis, facere. Culpa rerum explicabo excepturi distinctio cum quas deleniti quis non maxime incidunt, molestias, placeat iste omnis repudiandae reprehenderit provident. Dolorum aperiam ad amet repudiandae.</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, modi! Earum ducimus quod doloribus possimus, ut suscipit harum dicta deleniti doloremque, veniam ullam. Dolorem quaerat deserunt veniam, delectus commodi ab.</p>

<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione nemo neque dolor corrupti eveniet impedit ipsum molestias architecto aspernatur quia quam provident, doloribus cumque deserunt praesentium magni eaque? Reprehenderit quasi molestias molestiae sunt eos eius cupiditate magni quas nostrum, tempora tempore saepe amet laboriosam aperiam?</h1>


<br>

<h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae tempora odio consequatur iusto beatae molestiae provident eaque vel tempore? Corporis, facere. Culpa rerum explicabo excepturi distinctio cum quas deleniti quis non maxime incidunt, molestias, placeat iste omnis repudiandae reprehenderit provident. Dolorum aperiam ad amet repudiandae.</h1>

</div>
{%endblock content%}