{% extends 'admin_layout.html' %} {% load bootstrap %} {% load static %} {% block title %}All Orders | Admin Gharelu
{%endblock title %} {% block main %}
<div class="d-flex justify-content-between">
  <h3 class="text-dark mb-4 display-6 mt-lg-5">Showing All Orders</h3>
</div>

<div class="container-fluid" id="m-container8" style="min-height: 100vh">
  <div class="row">
    <div class="col mt-4 mb-4">
      {% include 'message.html' %}
      <div class="card shadow-lg">
        <div class="card-body table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Booking By</th>
                <th>Booking Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Contact Address</th>
                <th>Contact Number</th>
                <th>Service Price</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody class="align-services-center">
              {% for i in orders %}
              <tr>
                <td>{{i.user.username}}</td>
                <td>{{i.date}}</td>
                <td>{{i.start_time}}</td>
                <td>{{i.end_time}}</td>
                <td>{{i.contact_address}}</td>
                <td>{{i.contact_no}}</td>
                <td>Rs.{{i.total_price}}</td>
                <td>{{i.status}}</td>

                <td>
                  {% if i.status == 'Pending' %}
                  <a class="btn btn-sm" style="background-color: #dd4e67">
                    <i class="fa fa-check fa-x" aria-hidden="true"></i>
                    PENDING
                  </a>
                  
                  {% elif i.status == 'Approved' %}
                  <a class="btn btn-sm" style="background-color: #00eeb6">
                    <i class="fa fa-check fa-x" aria-hidden="true"></i>
                    APPROVED
                  </a>
                  {% elif i.status == 'Declined' %}
                  <a class="btn btn-sm" style="background-color: #bb3810">
                    <i class="fa fa-times fa-x" aria-hidden="true"></i>
                    DECLINED
                  </a>

                  {%endif%}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
