{% extends 'admin_layout.html' %} {% load bootstrap %} {% load static %} {% load crispy_forms_tags %} {%block title%}Add New Categories | Admin Gharelu {%endblock title %} {% block main %}

<div class="container5 bg-white">
    <div class="row">

        <div class="col-md-10 offset-md-1">
            <h1 class="text-center">Customers Review</h1>
            <div class="card p-3 m-3">
                <table class="table-striped">
                    <tr>
                        <th>Name</th>
                        <th>Review</th>
                    </tr>
                    {% for i in feedback %}
                    <tr>
                        <td> {{ i.name }}&nbsp;</td>
                        <td> {{ i.feedback }}</td>
                    </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>
</div>



{% endblock main%}